body {
    background-color: #000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.current-color {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: impact;
}

.generate-btn {
    padding: 16px 32px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 0 3px #000;
}